#btndel{
	margin-left: auto;
	margin-right: auto;
}

#c1,#cx1{
	margin-top: 10%;
}

#c2,#cx2{
	border: 1px solid silver;
	border-radius: 5px;
	background-color: #fefefe;
	padding-top: 50px;
	padding-bottom: 50px;
}

.inp, .inpV2{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.inpV2{
	width: 50%;
}

#raport{
	margin-top: 1%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fefefe;
	text-decoration: none;
    color: red;
    text-align: center;
}

a#flink:link, a#flink:visited, a#flink:hover, a#flink:active{
    text-decoration: none;
}

.text-success, .footer{
	font-family: 'Sofia';
}